/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: 'YourCustomFont';
    src: url('./assets/fonts/Playpen_Sans/PlaypenSans-VariableFont_wght.ttf') format('woff'),
    /* Add more file formats if needed */
  }

  body {
    font-family:'YourCustomFont', sans-serif;
    background-color: white;
    color: black;
  }

a {
  font-size: 18px;
  color:black ;
  font-weight: 400;
  text-decoration: none;
}
  